In [1]:
# PYTHON MODULES
# import user-installed modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# pandas options
pd.set_option('display.max_rows', 100)

In [2]:
!wget -nc 'https://raw.githubusercontent.com/amyamyjiang/ITP-487/main/nba_game_log_2021_22.csv'

--2025-04-17 02:06:28--  https://raw.githubusercontent.com/amyamyjiang/ITP-487/main/nba_game_log_2021_22.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13427331 (13M) [text/plain]
Saving to: ‘nba_game_log_2021_22.csv’

nba_game_log_2021_2 100%[===================>]  12.80M  40.5MB/s    in 0.3s

2025-04-17 02:06:28 (40.5 MB/s) - ‘nba_game_log_2021_22.csv’ saved [13427331/13427331]

In [3]:
nba_player_log = pd.read_csv('nba_game_log_2021_22.csv')

In [4]:
!wget -nc 'https://raw.githubusercontent.com/amyamyjiang/ITP-487/main/nba_salary_2021_22.csv'

--2025-04-17 02:06:30--  https://raw.githubusercontent.com/amyamyjiang/ITP-487/main/nba_salary_2021_22.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26521 (26K) [text/plain]
Saving to: ‘nba_salary_2021_22.csv’

nba_salary_2021_22. 100%[===================>]  25.90K  --.-KB/s    in 0.002s

2025-04-17 02:06:30 (11.7 MB/s) - ‘nba_salary_2021_22.csv’ saved [26521/26521]

In [5]:
player_salaries = pd.read_csv('nba_salary_2021_22.csv')

In [6]:
# view columns and null counts for each column in the data frames
print(nba_player_log.columns)
print(nba_player_log.info())
print(player_salaries.columns)
print(player_salaries.info())

Index(['game_id', 'game_date', 'OT', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Inactives', 'Opponent_Abbrev',
       'Opponent_Score', 'Opponent_pace', 'Opponent_efg_pct',
       'Opponent_tov_pct', 'Opponent_orb_pct', 'Opponent_ft_rate',
       'Opponent_off_rtg', 'player', 'player_id', 'starter', 'mp', 'fg', 'fga',
       'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus',
       'did_not_play', 'is_inactive', 'ts_pct', 'efg_pct', 'fg3a_per_fga_pct',
       'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct',
       'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg', 'def_rtg', 'bpm',
       'season', 'minutes', 'double_double', 'triple_double', 'DKP', 'FDP',
       'SDP', 'DKP_per_minute', 'FDP_per_minute', 'SDP_per_minute',
       'pf_per_minute', 'ts', 'last_60_minutes_per_game_starting',
       'last_60_minutes_per_game_bench', 'PG%', 'SG%', 'SF%', 'PF%', 'C%',
       'active_position_minutes'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31608 entries, 0 to 31607
Data columns (total 81 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   game_id                            31608 non-null  object
 1   game_date                          31608 non-null  object
 2   OT                                 31608 non-null  int64
 3   H_A                                31608 non-null  object
 4   Team_Abbrev                        31608 non-null  object
 5   Team_Score                         31608 non-null  int64
 6   Team_pace                          31608 non-null  float64
 7   Team_efg_pct                       31608 non-null  float64
 8   Team_tov_pct                       31608 non-null  float64
 9   Team_orb_pct                       31608 non-null  float64
 10  Team_ft_rate                       31608 non-null  float64
 11  Team_off_rtg                       31608 non-null  float64
 12  Inactives                          31561 non-null  object
 13  Opponent_Abbrev                    31608 non-null  object
 14  Opponent_Score                     31608 non-null  int64
 15  Opponent_pace                      31608 non-null  float64
 16  Opponent_efg_pct                   31608 non-null  float64
 17  Opponent_tov_pct                   31608 non-null  float64
 18  Opponent_orb_pct                   31608 non-null  float64
 19  Opponent_ft_rate                   31608 non-null  float64
 20  Opponent_off_rtg                   31608 non-null  float64
 21  player                             31608 non-null  object
 22  player_id                          31608 non-null  object
 23  starter                            31608 non-null  int64
 24  mp                                 31608 non-null  object
 25  fg                                 31608 non-null  int64
 26  fga                                31608 non-null  int64
 27  fg_pct                             31608 non-null  float64
 28  fg3                                31608 non-null  int64
 29  fg3a                               31608 non-null  int64
 30  fg3_pct                            31608 non-null  float64
 31  ft                                 31608 non-null  int64
 32  fta                                31608 non-null  int64
 33  ft_pct                             31608 non-null  float64
 34  orb                                31608 non-null  int64
 35  drb                                31608 non-null  int64
 36  trb                                31608 non-null  int64
 37  ast                                31608 non-null  int64
 38  stl                                31608 non-null  int64
 39  blk                                31608 non-null  int64
 40  tov                                31608 non-null  int64
 41  pf                                 31608 non-null  int64
 42  pts                                31608 non-null  int64
 43  plus_minus                         31608 non-null  int64
 44  did_not_play                       31608 non-null  int64
 45  is_inactive                        31608 non-null  int64
 46  ts_pct                             31608 non-null  float64
 47  efg_pct                            31608 non-null  float64
 48  fg3a_per_fga_pct                   31608 non-null  float64
 49  fta_per_fga_pct                    31608 non-null  float64
 50  orb_pct                            31608 non-null  float64
 51  drb_pct                            31608 non-null  float64
 52  trb_pct                            31608 non-null  float64
 53  ast_pct                            31608 non-null  float64
 54  stl_pct                            31608 non-null  float64
 55  blk_pct                            31608 non-null  float64
 56  tov_pct                            31608 non-null  float64
 57  usg_pct                            31608 non-null  float64
 58  off_rtg                            31608 non-null  int64
 59  def_rtg                            31608 non-null  int64
 60  bpm                                31608 non-null  float64
 61  season                             31608 non-null  int64
 62  minutes                            31608 non-null  float64
 63  double_double                      31608 non-null  int64
 64  triple_double                      31608 non-null  int64
 65  DKP                                31608 non-null  float64
 66  FDP                                31608 non-null  float64
 67  SDP                                31608 non-null  float64
 68  DKP_per_minute                     26311 non-null  float64
 69  FDP_per_minute                     26311 non-null  float64
 70  SDP_per_minute                     26311 non-null  float64
 71  pf_per_minute                      26311 non-null  float64
 72  ts                                 31608 non-null  float64
 73  last_60_minutes_per_game_starting  30938 non-null  float64
 74  last_60_minutes_per_game_bench     30938 non-null  float64
 75  PG%                                31532 non-null  float64
 76  SG%                                31532 non-null  float64
 77  SF%                                31532 non-null  float64
 78  PF%                                31532 non-null  float64
 79  C%                                 31532 non-null  float64
 80  active_position_minutes            26867 non-null  float64
dtypes: float64(45), int64(27), object(9)
memory usage: 19.5+ MB
None
Index(['Player', '2021/22', '2022/23', '2023/24', '2024/25', '2025/26',
       '2026/27'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   649 non-null    object
 1   2021/22  649 non-null    int64
 2   2022/23  649 non-null    int64
 3   2023/24  649 non-null    int64
 4   2024/25  649 non-null    int64
 5   2025/26  649 non-null    int64
 6   2026/27  649 non-null    int64
dtypes: int64(6), object(1)
memory usage: 35.6+ KB
None

In [7]:
# shape of the data frames

# player game log:
print("NBA player log shape:")
print(nba_player_log.shape)

# player salaries
print(player_salaries.shape)

NBA player log shape:
(31608, 81)
(649, 7)

In [8]:
# show first five rows of each data frame
# nba player log
print(nba_player_log.head())
print("\n")
# player salaries
print(player_salaries.head())

        game_id  game_date  OT H_A Team_Abbrev  Team_Score  Team_pace  \
0  202204100BRK  4/10/2022   0   A         IND         126      103.9
1  202204100BRK  4/10/2022   0   A         IND         126      103.9
2  202204100BRK  4/10/2022   0   A         IND         126      103.9
3  202204100BRK  4/10/2022   0   A         IND         126      103.9
4  202204100BRK  4/10/2022   0   A         IND         126      103.9

   Team_efg_pct  Team_tov_pct  Team_orb_pct  ...  pf_per_minute     ts  \
0         0.543           5.9          20.8  ...       0.000000  14.44
1         0.543           5.9          20.8  ...       0.083604  23.00
2         0.543           5.9          20.8  ...       0.139730  21.76
3         0.543           5.9          20.8  ...       0.156169   4.88
4         0.543           5.9          20.8  ...       0.097192  15.88

  last_60_minutes_per_game_starting last_60_minutes_per_game_bench    PG%  \
0                         36.176282                      19.535428   62.0
1                         35.833974                      19.350580    4.0
2                         30.988194                      16.733827    0.0
3                         22.514103                      14.625000    0.0
4                         25.350000                      15.166667  100.0

    SG%   SF%   PF%    C%  active_position_minutes
0  35.0   4.0   0.0   0.0                64.741860
1  53.0  43.0   1.0   0.0                56.265965
2   0.0  20.0  75.0   5.0                44.631041
3   0.0   0.0  24.0  76.0                53.345389
4   0.0   0.0   0.0   0.0                68.220319

[5 rows x 81 columns]


              Player   2021/22   2022/23   2023/24   2024/25   2025/26  \
0      Stephen Curry  45780966  48070014  51915615  55761217  59606817
1          John Wall  44310840  47366760         0         0         0
2       James Harden  44310840  47366760         0         0         0
3  Russell Westbrook  44211146  47063478         0         0         0
4       Kevin Durant  42018900  44119845  47649433  51179020  54708608

   2026/27
0        0
1        0
2        0
3        0
4        0

In [9]:
# clean player logs
top_scorer_df = nba_player_log[['game_id', 'game_date','H_A', 'Team_Abbrev','Opponent_Abbrev','player', 'pts','minutes']]
print(top_scorer_df.head())

print("Player log data: ")
print("Shape before dropping duplicates and unneeded columns: ")
print(nba_player_log.shape)

top_scorer_df = top_scorer_df.drop_duplicates()

print("Shape after dropping duplicates and unneeded columns: ")
print(top_scorer_df.shape)


# clean player salary data
top_salary_df = player_salaries[['Player','2021/22']]
print(top_salary_df.head())

print("Player salary data: ")
print("Shape before dropping duplicates and unneeded columns: ")
print(player_salaries.shape)

top_salary_df = top_salary_df.drop_duplicates()

print("Shape after dropping duplicates and unneeded columns: ")
print(top_salary_df.shape)

        game_id  game_date H_A Team_Abbrev Opponent_Abbrev             player  \
0  202204100BRK  4/10/2022   A         IND             BRK  Tyrese Haliburton
1  202204100BRK  4/10/2022   A         IND             BRK        Buddy Hield
2  202204100BRK  4/10/2022   A         IND             BRK     Oshae Brissett
3  202204100BRK  4/10/2022   A         IND             BRK     Isaiah Jackson
4  202204100BRK  4/10/2022   A         IND             BRK     T.J. McConnell

   pts    minutes
0   17  39.466667
1   21  35.883333
2   28  35.783333
3    7  32.016667
4   14  30.866667
Player log data:
Shape before dropping duplicates and unneeded columns:
(31608, 81)
Shape after dropping duplicates and unneeded columns:
(31282, 8)
              Player   2021/22
0      Stephen Curry  45780966
1          John Wall  44310840
2       James Harden  44310840
3  Russell Westbrook  44211146
4       Kevin Durant  42018900
Player salary data:
Shape before dropping duplicates and unneeded columns:
(649, 7)
Shape after dropping duplicates and unneeded columns:
(649, 2)

In [10]:
 # use pd.merge() to combine to two datasets, then clean the resulting data frame

player_stats_salaries = pd.merge(top_scorer_df,top_salary_df,how='left',left_on='player',right_on='Player')

In [11]:
player_stats_salaries.shape

(31282, 10)

In [12]:
player_stats_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31282 entries, 0 to 31281
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_id          31282 non-null  object
 1   game_date        31282 non-null  object
 2   H_A              31282 non-null  object
 3   Team_Abbrev      31282 non-null  object
 4   Opponent_Abbrev  31282 non-null  object
 5   player           31282 non-null  object
 6   pts              31282 non-null  int64
 7   minutes          31282 non-null  float64
 8   Player           28218 non-null  object
 9   2021/22          28218 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 2.4+ MB

In [13]:
# drop null rows with null values
player_stats_salaries = player_stats_salaries.dropna(how='any')

In [14]:
 # rename columns
player_stats_salaries = player_stats_salaries.rename(columns={"2021/22":"Salary", "H_A":"Home_Away"})
 # player_stats_salaries.rename(columns={"2021/22":"Salary", "H_A":"Home_Away"}, inplace=True)

In [15]:
player_stats_salaries.head()

,game_id,game_date,Home_Away,Team_Abbrev,Opponent_Abbrev,player,pts,minutes,Player,Salary
0,202204100BRK,4/10/2022,A,IND,BRK,Tyrese Haliburton,17,39.466667,Tyrese Haliburton,4023600.0
1,202204100BRK,4/10/2022,A,IND,BRK,Buddy Hield,21,35.883333,Buddy Hield,23073234.0
2,202204100BRK,4/10/2022,A,IND,BRK,Oshae Brissett,28,35.783333,Oshae Brissett,1701593.0
3,202204100BRK,4/10/2022,A,IND,BRK,Isaiah Jackson,7,32.016667,Isaiah Jackson,2451240.0
5,202204100BRK,4/10/2022,A,IND,BRK,Terry Taylor,10,23.616667,Terry Taylor,342984.0

In [16]:
player_stats_salaries.shape

(28218, 10)

In [17]:
# this is an example that could help you start analyzing the dataset
player_season_stats = player_stats_salaries[['player', 'pts', 'minutes', 'Salary']]
player_season_stats = player_stats_salaries.groupby(by=['Player'], as_index=False).agg({'pts':'sum', 'minutes':'sum', 'Salary':'mean'})


player_season_stats['PPG/$'] = player_season_stats['pts']/player_season_stats['Salary']


player_season_stats = player_season_stats.sort_values(by=['PPG/$'], ascending=False)
print(player_season_stats.head())

               Player  pts      minutes    Salary     PPG/$
52   Brandon Williams  309   639.700000  180798.0  0.001709
355  Lindy Waters III  199   465.183333  159527.0  0.001247
19        Amir Coffey  619  1567.250000  573576.0  0.001079
451      Reggie Perry   92   187.266667   85578.0  0.001075
257      Jaylen Hoard  103   239.566667   95930.0  0.001074